# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.envrc

# Jupyter
.ipynb_checkpoints/
*.ipynb_save
.profile_default/

# Build/artifacts
dist/
build/
*.egg-info/

# Data (optional)
data/
outputs/
